<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div class="generic-style">
    <a href="index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>
    </a>
</div>
<ul>
    <li><a href="index.html" th:href="@{/}">Hjem</a></li>

    <li th:if="${session.currentUser != null}">
        <a th:href="@{/order}">Bestil her</a>
    </li>
    <li th:unless="${session.currentUser != null}">
        <a th:href="@{/login}">Bestil her</a>
    </li>

    <li style="float:right"><a href="login.html" th:href="@{/login}" class="active">Login</a></li>

    <li  style="float:right" class="dropdown" th:if="${session.currentUser != null}">
        <a th:text="${session.currentUser.mail}" class="dropbtn"></a>
        <div class="dropdown-content">
            <a href="login.html" th:href="@{/logout}">Logout</a>
            <a href="profile.html" th:href="@{/profile}">Profile</a>
            <a href="admin.html" th:href="@{/admin}" class="active" th:if="${session.currentUser.role}">Admin</a>
        </div>
    </li>
</ul>

<div class="container">
    <h2>ADMIN PANEL</h2>
    <table class="task-table">
        <thead>
        <tr>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.mail}"></td>
        </tr>
        </tbody>
    </table>


    <table class="task-table">
        <thead>
        <tr>
            <th>Orders</th>
        </tr>
        </thead>

        <tr th:each="order : ${orders}">
            <td>
                <a th:href="@{/orderDetails(orderId=${order.orderID})}"
                   th:text="'Order #' + ${order.orderID} + ' - ' + ${#temporals.format(order.date, 'dd/MM/yyyy')}"></a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>