<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>
    </a>
</header>

<p>Ordrer</p>
<p>Kunder</p>
<!--<p><span th:text="${session.currentUser.mail}"></span></p>-->
<img alt="basketLogo" src="../public/images/basketIcon.png" th:src="@{/images/basketIcon.png}"/>

<div class="basket">
<div th:if="${paymentStatus == false}">
    <div id="order-list">
        <ul>
            <li th:each="order : ${orders}">
                <span th:text="${order.quantity} + 'x ' + ${order.bottom} + ' & ' + ${order.topping}"></span>
                <span>$<span th:text="${order.totalPrice}"></span></span>
            </li>
        </ul>
    </div>
    <div class="total">
        Total: <span th:text="${totalPrice}">0.00</span> kr
    </div>
        <button type="submit">Betal nu</button>
    </div>

    <div th:if="@{paymentStatus == true}">
        <p>Tak for din order!</p>
        <p>Dine ordre er betalt og registreret</p>
        <p>Du kan nu hente din ordre i vores butik</p>
    </div>
</div>
</body>