<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<p>Please log in:</p>
<form method="post">

    <input type="text" name="mail" placeholder="Enter your mail">
    <input type="text" name="password1" placeholder="Enter you password" autocomplete="off">
    <input type="text" name="password2" placeholder="Enter you password again" autocomplete="off">

    <button type="submit" formaction="/createuser">Create account</button>
    <div class="error"><p th:text="${message}"></p></div>

</form>

</body>
</html>