<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<p><a href="login.html" th:href="@{/login}">Login</a></p>
<p th:text="${message}"></p>

<div th:if="${session.currentUser != null}">
    <span th:text="${session.currentUser.mail}"></span> |
    <a href="login.html" th:href="@{/logout}">Logout</a>
</div>

<form th:action="${session.currentUser != null} ? '/order' : '/login'" method="GET">
    <button type="submit">Bestil her</button>
</form>

</body>
</html>