<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<p>Please log in:</p>
<form method="post">

    <input type="text" name="mail" placeholder="Enter your mail">
    <input type="text" name="password" placeholder="Enter you password" autocomplete="off">

    <button type="submit" formaction="/login">Get access to paradise</button>
    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

</form>

</body>
</html>