<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a href="index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/logo.png" th:src="@{/images/logo.png}"/>
    </a>
    <a>
        <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>
    </a>
</header>

<p>Ordrer</p>
<p>Kunder</p>
<!--<p><span th:text="${session.currentUser.mail}"></span></p>-->
<img alt="basketLogo" src="../public/images/basketIcon.png" th:src="@{/images/basketIcon.png}"/>

<h1>Velkommen ombord</h1>
<h2>Øens bedste cupcakes. Vælg og bestil her:</h2>

<form action="order.html">
    <div class="webform medium-padding">
        <select name="bottom">
            <option value="" selected disabled>Vælg bund</option>
            <option value="Chocolate">Chokolade  |  5.00 kr</option>
            <option value="Vanilla">Vanilje  |  5.00 kr</option>
            <option value="Nutmeg">Muskatnød  | 5.00 kr</option>
            <option value="Pistacio">Pistacie  |  6.00 kr</option>
            <option value="Almond">Mandel  |  7.00 kr</option>
        </select>

        <select name="topping">
            <option value="" selected disabled>Vælg topping</option>
            <option value="Chocolate">Chokolade  |  5.00 kr</option>
            <option value="Blueberry">Blåbær  |  5.00 kr</option>
            <option value="Raspberry">Hindbær  |  5.00 kr</option>
            <option value="Crispy">Crispy  |  6.00 kr</option>
            <option value="Strawberry">Jordbær  |  6.00 kr</option>
            <option value="Rum/Raisin">Rom/Rosin  |  7.00 kr</option>
            <option value="Orange">Appelsin  |  8.00 kr</option>
            <option value="Lemon">Citron  |  8.00 kr</option>
            <option value="Blue cheese">Blue cheese  |  9.00 kr</option>
        </select>

        <input type="number" id="quantity" name="quantity" min="1" placeholder="Vælg antal">

        <button type="submit">Læg i kurv</button>

    </div>

</form>

</body>
</html>