<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="index.html" th:href="@{/index}">Forside</a>

<h2>Profile</h2>

<form method="post">

    <table>
        <tr>
            <td>Current balance:</td>
            <td th:text="${session.currentUser.amount}"></td>
            <td>DKK.</td>
        </tr>
        <tr>
            <td>Mail:</td>
            <td th:text="${session.currentUser.mail}"></td>
            <td><input type="text" name="mail" placeholder="New mail address here" ></td>
            <td><button type="submit" name="profilemail" th:value="${session.currentUser.mail}" formaction="updateMail">Update</button></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td th:text="${session.currentUser.password}"></td>
            <td><input type="text" name="password" placeholder="New password here"></td>
            <td><button type="submit" name="profilepassword" th:value="${session.currentUser.password}" formaction="updatePassword">Update</button></td>
        </tr>
    </table>

</form>

</body>
</html>